body{
    background-color:#0b0b0b!important;
}

#profile-pic{
    height: 85%;
    width: 84%;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}

.project {
    display: flex;
    align-items: center;
}

.project-icon {
    height: 200px;
    transition: transform 0.1s ease;
    margin-right: 10px;
}

.project-icon:hover {
    transform: translateY(-10px);
}

.project-description {
    margin-left: 10px;
    text-align: left;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.project-text p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

.social{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.1s ease;
}

.social:hover {
    transform: scale(1.2);
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social-links a:hover {
    text-decoration: none;
}

.monospace-bold {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #b28ecb;
}

.monospace-semibold {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #b28ecb;
}

.monospace-regular {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #b28ecb;
}

p.indented {
    padding-left: 15px;
    text-align: justify;

}

#profile-wrapper {
    position: relative;
    background: url('images/cover_pic.jpg') no-repeat;
    background-size: 100% 50%;
    background-position: top;
    text-align: left;    .crop {
        width: 200px;
        height: 150px;
        overflow: hidden;
    }

    .crop img {
        width: 400px;
        height: 300px;
        margin: -75px 0 0 -100px;
    }
}

.card {
    background-color: #212121 !important;
}

bg-primary {
    background-color: #212121 !important;
}