body{
    background-color:#161616!important;
}

#profile-pic{
    height: 85%;
    width: 85%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.project {
    display: flex;
    align-items: center;
}

.project-icon {
    height: 200px;
    transition: transform 0.1s ease;
    margin-right: 10px;
}

.project-icon:hover {
    transform: translateY(-10px);
}


.project-description {
    margin-left: 10px;
    text-align: left;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.project-text p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

.social{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.1s ease;
}

.social:hover {
    transform: scale(1.2);
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social-links a:hover {
    text-decoration: none;
}

.monospace-bold {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 900;
    color: #835f9d;
}

.monospace-semibold {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    color: #835f9d;
}

.monospace-regular {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #835f9d;
}

p.indented {
    padding-left: 15px;
    text-align: justify;

}

#profile-wrapper {
    position: relative;
    background: url('images/cover_pic.jpg') no-repeat;
    background-size: 100% 50%;
    background-position: top;
    text-align: left;
    background-color: #333333;
}

#profile-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}